html {
    scroll-behavior: smooth;
    scroll-padding-top: 84px;
    font-size: 62.5%; /*1rem = 10px*/
}

header {
    background-color: #16161e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    width: 100%;
    height: 84px;
}

main {
    width: 100%;
}

footer {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    margin: 0;
}

li{
    list-style: none;
}


#navegacao {
    font-size: 2.0rem;
    color: #fff;
    margin-left: 28px;
}

#DownloadCV {
    color: #000;
    background-color: #2add1a;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 60px;
    font-size: 2.0rem;
    margin-left: 28px;
    display: inline-block;
}

#capa {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333337;
    color: #fff;
    font-size: 4.0rem;
    padding-top: 84px;
    height: calc(100vh - 84px);
}

#front {
    font-size: 2.0rem;
    font-weight: 400;
}

#titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sobre {
    background-color: #16161e;
    color: #fff;
    height: auto;
    padding-bottom: 30px;
}

#subtitulos {
    font-size: 7.0rem;
    text-align: center;
    padding-top: 5.1rem;
    margin-bottom: 51px;
    color: #fff;
}

#imgGustavo {
    max-width: 500px;
    max-height: 417px;
}

#psobre {
    font-size: 3.0rem;
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-bottom: 10vh;
    border-bottom: 2px solid #fff;
}

#Skills {
    background-color: #333337;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

#barraProgresso {
    height: 21px;
    width: 281px;
    background-color: #16161e;
}

#progressoHTML {
    width: 157px;
    height: 21px;
    background-color: #2add1a;
}

#progressoCSS {
    width: 101px;
    height: 21px;
    background-color: #2add1a;
}

#progressoJS {
    width: 55px;
    height: 21px;
    background-color: #2add1a;
}

#progressoC {
    width: 172px;
    height: 21px;
    background-color: #2add1a;
}

#pProgress {
    color: #fff;
    font-size: 2.5rem;
}

#barras {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#imgEBarras {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#barraELabel {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#Projetos {
    background-color: #16161e;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#img-proj-portfolio {
    border-radius: 40px; 
}

#lbl-proj-portfolio {
    color: #fff;
    font-size: 3.0rem;
}

#Contatos {
    background-color: #333337;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#desc-contatos {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#lbl-contatos {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 5px;
}

#input-email {
    width: 70vw;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#input-escreva {
    width: 70vw;
    font-size: 2.5rem;
    margin-bottom: 30px;
    resize: none;
}

#btn-enviar {
    font-size: 2.5rem;
    color: #000;
    background-color: #2add1a;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    border: none;
    border-radius: 10px;
}

footer {
    background-color: #16161e;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}