header {
    background-color: #16161e;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

#navegacao {
    font-size: 20px;
    color: #fff;
}

#DownloadCV {
    color: #000;
    background-color: #2add1a;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 60px;
    font-size: 20px;
}

#imgLogo {
    margin-top: 10px;
    margin-bottom: 10px;
}

#capa {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #333337;
    color: #fff;
    font-size: 40px;
}

#front {
    font-size: 20px;
    font-weight: 400;
}

#imgGustavo {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sobre {
    background-color: #16161e;
    color: #fff;
    height: 100vh;
}

#subtitulos {
    font-size: 70px;
    text-align: center;
    padding-top: 51px;
    margin-bottom: 51px;
    color: #fff;
}

#psobre {
    font-size: 30px;
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-bottom: 10vh;
    border-bottom: 2px solid #fff;
}

#Skills {
    background-color: #333337;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#barraProgresso {
    height: 21px;
    width: 281px;
    background-color: #16161e;
}

#progressoHTML {
    width: 157px;
    height: 21px;
    background-color: #2add1a;
}

#progressoCSS {
    width: 101px;
    height: 21px;
    background-color: #2add1a;
}

#progressoJS {
    width: 55px;
    height: 21px;
    background-color: #2add1a;
}

#progressoC {
    width: 172px;
    height: 21px;
    background-color: #2add1a;
}

#pProgress {
    color: #fff;
    font-size: 25px;
}

#barras {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#imgEBarras {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#barraELabel {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#Projetos {
    background-color: #16161e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#img-proj-portfolio {
    border-radius: 40px; 
}

#lbl-proj-portfolio {
    color: #fff;
    font-size: 30px;
}

#Contatos {
    background-color: #333337;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#desc-contatos {
    color: #fff;
    font-size: 25px;
    margin-bottom: 10px;
}

#lbl-contatos {
    font-size: 25px;
    color: #fff;
    margin-bottom: 5px;
}

#input-email {
    width: 70vw;
    font-size: 25px;
    margin-bottom: 10px;
}

#input-escreva {
    width: 70vw;
    font-size: 25px;
    margin-bottom: 30px;
    resize: none;
}

#btn-enviar {
    font-size: 25px;
    color: #000;
    background-color: #2add1a;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 70px;
    padding-right: 70px;
    border: none;
    border-radius: 10px;
}

footer {
    background-color: #16161e;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}