@keyframes rightToLeft {
    0% {
        right: -20px;
        opacity: 0;
    }
    100% {
        right: 0px;
        opacity: 1;
    }
}

@keyframes leftToRight {
    0% {
        left: -20px;
        opacity: 0;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}

#capa {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--grey);
    color: #fff;
    font-size: 4.0rem;
    padding-top: 84px;
    height: 100vh;
    min-height: 600px;
}

#front {
    font-size: 2.0rem;
    font-weight: 400;
}

#titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    animation-name: leftToRight;
    animation-duration: 1s;
    z-index: -0;
}

#profileImage {
    position: relative;
    animation-name: rightToLeft;
    animation-duration: 1s;
    z-index: -0;
}