#Projetos {
    background-color: #16161e;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

#img-proj-portfolio {
    border-radius: 40px; 
}

#lbl-proj-portfolio {
    color: #fff;
    font-size: 3.0rem;
}