* {
	line-height: 1;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
	list-style: none;
	scroll-behavior: smooth;
    scroll-padding-top: 84px;
	text-decoration: none;
}

html {
	font-size: 62.5%; /*1rem = 10px*/
	--black: #16161e;
	--grey: #333337;
	--green: #2add1a;
}